.myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 10%;
    height: 30px;
    background-color: rgb(22, 22, 10);
    text-align: center;
    line-height: 30px;
    color: white;
  }
.title{
  color: #28a745
}

.maintitle {
height:150px;
background-color: rgb(15, 14, 14);
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before{
  background-color: black;
  box-shadow: black;
}
.ht{
  color: rgb(155, 130, 130);
}
